# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Env / secrets
.env
.env.*

# OS / editor
.DS_Store
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/
